body, html{
  width: 100%;
  height: 100%;
}
body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: auto;
}

.container-fluid {
  display: table;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

p{
  font-size: 1em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  padding-left: 20%;
}

.regular {
  font-size: 1em;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding-left: 0%;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

h1{
  font-size: 3em;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
