body, html{
  width: 100%;
  height: 100%;
}
body {
  background-color: white;
  background-repeat: no-repeat;
  background-size: auto;
}

.container-fluid {
  display: table;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

p{
  font-size: 1em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 3em;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
