.menu {
	width:100%;
	min-width: 160px;
	position: relative;
	top: -10px;
	display: inline-block;
	background-color: WhiteSmoke;
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	z-index: 1;
}

.menubutton {
	width: 100%;
	height: 64px;
	min-width: 160px;
	max-width: 160px;
	font-size: 16px;
	font-family: "Helvetica" "Arial" "Verdana";
	border: none;
	background-color: WhiteSmoke;
	border-right: 1px solid black;
}
.menucontent {
	display: none;
	position: absolute;
	width: 100%;
	height: 32px;
	min-width: 160px;
	z-index: 2;
}

.menucontent button {
	width: 100%;
	height: 32px;
	min-width: 160px;
	font-size: 16px;
	font-family: "Helvetica" "Arial" "Verdana";
	border: none;
	background-color: white;
}
.menushow { display: block; }
