.caption{
  text-align: justify;
  padding: 10px 5px 5px;
}

.thumbnail{
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: white;
}
.thumb_images {
  border-radius: 8px;
}
.title_bar{
  padding-top: 30px;
}
.caption {
  padding: 10px 10px 10px;
}
.shader_embed {
  scrolling: "no";
  width: 400px;
  height: 400px;
}
iframe {
  scrolling: "no";
  width: 100%;
  height: 500px;
  border: 1px solid black;
}

body {
  background-color: darkgrey;
}

@media (min-width: 640px){
}

@media (min-width: 768px){
}

@media (min-width: 1024px){
}

@media (min-width: 1200px){
}
